*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    min-height: 100vh;
    height: auto;
    background-color: #012f63;
    color: #f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    border: 2px solid #ffffff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2vh;
    width: 250px;
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    transition: all 200ms linear;
}

div:hover{
   box-shadow: #fffeff66 -5px 5px, #bebebe4d -10px 10px, #6e666b33 -15px 15px, #4e3c471a -20px 20px, #1811160d -25px 25px;
}

p{
    width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    font-size: 30px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vh;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

label{
    margin-bottom: -20px;
    text-align: left;
    width: 100%;
    font-size: 20px;
    padding-left: 15px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid #090909;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid #090909;
    transition: all 200ms ease-in-out;
    font-family: "Playwrite NO", cursive;
}

button:hover{
    cursor: pointer;
    border: 2px solid #1a66c3;
    background-color: #1a66c3;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 10px #00000085;
}

h1, h2{
     font-family: "Playwrite NO", cursive;
}

h1{
    font-size: 60px;
}

nav{
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    top: 0;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: fromTop 500ms ease-in-out;
}

@keyframes fromTop {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: #090909;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

a:hover{
    cursor: pointer;
    opacity: 1;
}


